/* .top-logo{
    background: 0 0;
    border: 0;
    position: absolute;
    z-index: 5;
    width: 100%;
} */

body{
    /* background: #1a1a1a; */
    background: #131313;
    font-family: 'Raleway', sans-serif;
    /* color: white; */
}

#coluna-lateral-fixed{
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
}

#coluna-lateral-fixed .bg{
    height: 90%;
    position: absolute;
    bottom: 0;
    filter: brightness(0.6);
}

#coluna-lateral-fixed .logo img{
    
    /* position: absolute;
    bottom: 0; */
}

#coluna-lateral-fixed .info-cheat{
    position: absolute;
    bottom: 20%;
}

#coluna-lateral-fixed .card-title{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 600;
}

#coluna-lateral-fixed .btn{
    font-size: 40px;
    text-transform: uppercase;
    background: #ff4a21;
    color: white;
    font-weight: 800;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
}

#coluna-lateral-fixed .btn:hover{
    background: #e4421d;
    /* box-shadow:  0px 0px 6px 0px #ff4a21 ; */
}

.ball-status{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
}
.ball-status.online{
    background: #09c109;
}
.ball-status.maintenance{
    background: orange;
}
.ball-status.offline{
    background: red;
}

#coluna-lateral-fixed .card{
    /* background: rgba(0, 188, 140, 1) !important; */
    /* opacity: 0.95;
    background: #375a7f !important; */
    background: #fff !important;
    color: rgba(0,0,0,.54);
    border-color: transparent !important;
}

.card{
    /* background: #dfdfdf;
    color: #000; */
    color: white;
    border-color: #303030 !important;
    background: #303030 !important;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
}

.features .card-body p{
    font-size: 1.1rem;
    font-weight: 500;
}

.video .embed-responsive{
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
    border-radius: .25rem;
}

.depoimentos .carousel-inner{
    color: white;
    border-color: #303030 !important;
    background: #303030 !important;
    border-radius: .25rem;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
}


.img-user img{
    border-radius: 50%;
    background: whitesmoke;
    width: 12%;
}

.outros-cheats{
    margin-top: 16px;
}

.outros-cheats .img-game{
    text-align: center; 
}
.outros-cheats .img-game img{
    border-radius: 4px;
    filter: drop-shadow(0px 0px 0px #fff);
    /* box-shadow: 1px 2px; */
    width: 130%;
}

.title{
    font-family: 'Ubuntu', sans-serif;
    border-left: 3px solid #ff4a21;
    padding-left: 12px;
}

footer .btn{
    color: white;
    font-size: 13px;
    padding: 0rem;
}

footer .contato p, footer .contato a{
    color: white;
    font-size: 15px;
}

footer .forum{     
    color: #ff4a21;
}

footer .disabled-link {
    pointer-events: none;
    color: #ffffff66 !important;
}

hr{
    background: #171515;
    width: 110vw;
    position: absolute;
    left: -10vw;
}

.info-cheat-mobile{
    display: none;
}
