/* SMARTHPHONE */
@media screen and (max-width: 767px) {

    /* p,h1,h2,h3,h4,h5,h6{
        text-align: center !important;
    } */
    
    h1{
        font-size: 30px;
        line-height: 40px;
        /* margin-top: 50px; */
    }

    .bg .img img{
        width: auto;
        left: 75%;
        top: 0;
        height: 67%;
        transform: translate(-70%)/*!rtl:ignore*/;        
        -webkit-transform: translate(-70%);
    }

    .border-inner{
        left: 33px;
        top: 7px;
        height: 100%;
    }

    .top-logo img{
        width: 60%;
    }

    .features .media i.resize{
        font-size: 52px;
    }
    .features .media p{
        font-size: 15px;
    }

    .games-list .media img{
        display: none;
    }

    .games-list .media{
        margin-bottom: 1rem;
    }

    .games-list .media.reverse{
        transform: scaleX(1);
    }
    .games-list .media.reverse .media-body h5{
        transform: skew(20deg) scaleX(1);
    }
    .games-list .media.reverse:hover{
        transform: scaleX(1) scale(1.05);
        /* margin-left: -4rem; */
    }
}

@media screen and (min-width: 768px) and  (max-width: 999px){
    .border-inner{
        left: 45px;
    }
}

@media screen and (min-width: 658px) {
    .cta .cta-text .cta-header{
        font-size: 60px;
        margin: 0 0 30px;
    }

    .cta .cta-text .cta-sub-header{
        font-size: 24px;
        margin: 0 0 30px;
    }
    .games-list .media img{
        margin-right: -2rem;
    }
}

/* Large screen */
@media screen and (min-width:1000px){
    .cta{
        position: absolute;
        bottom: 44px;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        text-align: center;
        max-width: 100%;
        z-index: 13;
        min-height: 550px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 60px;
        top: 18%;
    }

    .cta .cta-text .cta-header{
        font-weight: 700;
        font-size: 80px;
        line-height: 1.1em;
        margin: 0 0 30px;
        position: relative;
    }

    .cta .cta-text .cta-sub-header{
        font-weight: 400;
        font-size: 30px;
        line-height: 1.25em;
        margin: 0 0 30px;
    }

    .bg::before {
        content: '';
        background-image: linear-gradient(to bottom,rgba(0,0,0,.5) 5%,rgba(0,0,0,0) 95%);
        position: absolute;
        zoom: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background: rgba(0,0,0,.6);
        background-image: -webkit-gradient(linear,left bottom,left top,color-stop(50%,rgba(0,0,0,0)),to(rgba(0,0,0,.5))),radial-gradient(50% 120%,rgba(0,0,0,0) 50%,rgba(0,0,0,.7) 100%);
        background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,.5) 100%),-webkit-radial-gradient(50% 120%,rgba(0,0,0,0) 50%,rgba(0,0,0,.7) 100%);
        background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,.5) 100%),-moz-radial-gradient(50% 120%,rgba(0,0,0,0) 50%,rgba(0,0,0,.7) 100%);
        background-image: -o-linear-gradient(bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,.5) 100%),-o-radial-gradient(50% 120%,rgba(0,0,0,0) 50%,rgba(0,0,0,.7) 100%);
        background-image: linear-gradient(0deg,rgba(0,0,0,0) 50%,rgba(0,0,0,.5) 100%),radial-gradient(50% 120%,rgba(0,0,0,0) 50%,rgba(0,0,0,.7) 100%);
    }
}

@media screen and (max-width: 1000px){
    /* .bg::before {
        content: '';
        background-image: linear-gradient(to bottom,rgba(0,0,0,.5) 5%,rgba(0,0,0,0) 95%);
        zoom: 1;
        height: 10%;
        top: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
    } */

    .bg::before {
        content: '';
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(5%,rgba(0,0,0,.5)),color-stop(95%,rgba(0,0,0,0)));
        background-image: -webkit-linear-gradient(top,rgba(0,0,0,.5) 5%,rgba(0,0,0,0) 95%);
        background-image: -moz-linear-gradient(top,rgba(0,0,0,.5) 5%,rgba(0,0,0,0) 95%);
        background-image: -o-linear-gradient(top,rgba(0,0,0,.5) 5%,rgba(0,0,0,0) 95%);
        background-image: linear-gradient(to bottom,rgba(0,0,0,.5) 5%,rgba(0,0,0,0) 95%);
        zoom: 1;
        height: 10%;
        top: 0;
    }
    
    .bg::after{
        content: '';
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(60%,#0d1018),color-stop(65%,rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(bottom,#0d1018 60%,rgba(0,0,0,0) 65%);
    background-image: -moz-linear-gradient(bottom,#0d1018 60%,rgba(0,0,0,0) 65%);
    background-image: -o-linear-gradient(bottom,#0d1018 60%,rgba(0,0,0,0) 65%);
    background-image: linear-gradient(to top,#0d1018 60%,rgba(0,0,0,0) 65%);
    zoom: 1;
    height: 65%;
    }

    .bg .img .gradient{
        top: 0;
        -webkit-transform: translate(-70%);
        -moz-transform: translate(-70%);
        -ms-transform: translate(-70%);
        -o-transform: translate(-70%);
        transform: translate(-70%)/*!rtl:ignore*/;
        z-index: 3;
        opacity: 1;
        width: 118%;
        padding-bottom: 0;
        left: 75%;
        height: 67%;
        position: absolute;
    }

    .bg .img .gradient::before{
        content: '';
        display: block;
        height: 20%;
        width: 100%;
        position: absolute;
        top: -1px;
        background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(13, 16, 23)),to(transparent));
        background-image: -webkit-linear-gradient(top,rgb(13, 16, 23),transparent);
        background-image: -moz-linear-gradient(top,rgb(13, 16, 23),transparent);
        background-image: -o-linear-gradient(top,rgb(13, 16, 23),transparent);
        background-image: linear-gradient(to bottom,rgb(13, 16, 23),transparent);
    }

    .bg .img .gradient::after{
        content: '';
        display: block;
        height: 20%;
        width: 100%;
        position: absolute;    
        height: 30%;
        bottom: 38px;
        background-image: -webkit-gradient(linear,left bottom,left top,from(#0d1018),to(transparent));
        background-image: -webkit-linear-gradient(bottom,#0d1018,transparent);
        background-image: -moz-linear-gradient(bottom,#0d1018,transparent);
        background-image: -o-linear-gradient(bottom,#0d1018,transparent);
        background-image: linear-gradient(to top,#0d1018,transparent);
    }

    .cta{
        position: absolute;
        top: auto;
        bottom: 70px;
        margin-top: 30px;
        font-size: 3.2vw;
        transform: none;
        text-align: center;
        max-width: 100%;
    }
}


/*################################################################
    *                                                                *
    *                           CHECKOUT                             *
    *                                                                *
    *################################################################*/



/* SMARTHPHONE */
@media screen and (max-width: 767px) {
    #plans-table{
        display: none;
    }
    #plans-table-mobile{
        display: block;
    }
    
    .list-cheats-basic .carousel-control-next{
        display: none;
    }
    .name-basic{
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    .list-cheats-basic .my-dropdown .my-item img, .img-basic-select{
        max-width: 80px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    #choosePayment{
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

