/* 
    SMARTHPHONE 
*/
@media screen and (max-width: 767px){
    .logo img{
        width: 60%;
    }
    footer{
        margin-bottom: 40% !important   ;
    }
    .outros-cheats .carousel-inner .img-game:nth-child(4), .outros-cheats .carousel-inner .img-game:nth-child(5){
        display: none;
    }
    .img-user img{
        width: 22% !important;
    }
}
@media screen and (max-width: 1000px) {
    .img-user img{
        width: 12%;
    }
    body{
        font-size: 16px;
    }
    #coluna-lateral-fixed{
        display: none;
    }
    #coluna-lateral-fixed .info-cheat{
        position: absolute;
        bottom: 10px;
    }
    
    .info-cheat-mobile{
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .info-cheat-mobile .card-body{
        padding-top: .5rem!important;
        padding-bottom: .5rem!important;
    }
    
    .info-cheat-mobile .card{
        /* opacity: 0.95;
        background: #375a7f !important; */
        background: #fff !important;
        color: rgba(0,0,0,.54);
        border-color: transparent !important;
        box-shadow: 0 -1px 8px 0 rgba(0,0,0,.2), 0 -3px 4px 0 rgba(0,0,0,.14), 0 -3px 3px -2px rgba(0,0,0,.12);
    }

    .info-cheat-mobile .card-title{
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    .info-cheat-mobile .btn{
        font-size: 16px;
        text-transform: uppercase;
        background: #ff4a21;
        color: white;
        font-weight: 800;
        border-radius: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        /* box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12); */
    }
    
    .info-cheat-mobile .btn:hover{
        background: #e4421d;
        /* box-shadow:  0px 0px 6px 0px #ff4a21 ; */
    }

    .info-cheat-mobile .card{
        border-radius: 0px;
    }

    .title{
        font-size: 26px;
    }

    .depoimentos .carousel-inner p{
        text-align: center;
    }
    footer{
        margin-bottom: 20%;
    }
}

@media screen and (min-width: 1000px) and (max-width:1920px) {
    /* .img-user img{
        width: 22%;
    } */
    #coluna-lateral-fixed .card-title{
        font-size: 36px;
    }
    #coluna-lateral-fixed .btn{
        font-size: 26px;
    }
    #coluna-lateral-fixed{
        margin-right: 1rem;
    }
}

@media screen and (min-width: 1000px) and (max-width:1024px) {
    .outros-cheats .carousel-inner .img-game:nth-child(5){
        display: none;
    }
    .img-user img{
        width: 22%;
    }
    .primay-colum{
        margin-left: 1rem;
    }
}

@media screen and (max-width: 425px) {
    .outros-cheats .img-game img{
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .info-cheat-mobile div:first-child{
        padding-left: 9px;
        padding-right: 0;
    }    
}

